<!doctype html>
<html>
    <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
             
            <meta charset="UTF-8">
            <meta name="Traversing the imaginal realms" content="blog posts">
            <meta name="keywords" content="HTML,CSS">
            <meta name="author" content="Mercury">
            <meta name="viewport" content="width=device-width, initial-scale=0.8"> 
        {% block head %}
        <title>{% block title %} {% endblock %} - BLOZ - raspberry syrup</title>
        {% endblock %}
    </head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blogs</a>

        {% if sess %}
    
        <a href="/newpost"> Create a new post</a> |
        <a href="/logout">Logout</a>

        {% endif %}

        {% if not sess %}

        <a href="/signup">Sign Up!</a> | 
        <a href="/login">Log In</a>    

        {% endif %}

 
        
   
    </nav>
    <ul>
    
    </ul>    
    {% block content %}

    {% endblock %}

</body>
</html>