{% extends 'base.html' %}

{% block content %}

<ul>
    {% for blog in blogs %}
        <li><a href="/individual_post?id={{blog.id}}" >{{blog.blog_title}}</a>
        <hr/>
        
        <!--
        {% if username in session  %}            
        <form method="POST" action="/delete-entry" style="display:inline-block;">
            <input type="hidden" name="blog-id" value="{{blog.id}}" />
            <input type="submit" value="deletepost" />
        {% endif%}    
        -->
        </li>
        <br>
        <br>
    {% endfor %}
</ul>

{% endblock %}