{% extends "base.html" %}

{% block content %}
<h1>Login to Blogz</h1>
<p>If you don't have an account, you may <a href="/signup">register</a> for one</p>
<form action="/login" method="post">
    <table>
        <tr></tr>
            <td><label for="username">Name:</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
    {% if error %}
        <p id="error" class='error'>{{ error }}</p></div>
    {% endif %}
</form>
{% endblock %}