{% extends "base.html" %}

{% block content %}
<h1>Register For a Blog</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Name</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                {% if usr_error %}
                <p id="error" class='error'>{{ usr_error }}</p></div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                {% if p_error %}
                <p id="error" class='error'>{{ p_error }}</p></div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                {% if p2_error %}
                <p id="error" class='error'>{{ p2_error }}</p></div>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>

{% endblock %}